{% extends 'base.html.twig' %}

{% block title %}Edit Brrowing{% endblock %}

{% block body %}
    <h1>Edit Brrowing</h1>

    {{ include('borrowing/_form.html.twig', {'button_label': 'Update'}) }}
    {{ include('borrowing/_delete_form.html.twig') }}

    <a class="btn btn-outline-dark" href="{{ path('app_borrowing_index') }}">back to list</a>

{% endblock %}
